DB_HOST="localhost"
DB_PORT="6284"
DB_USER="taskboard_taskboard_live"
DB_PASSWORD="docker"
DB_NAME="taskboard_taskboard_live_db"
DATABASE_URL="postgresql://taskboard_taskboard_live:docker@localhost:6284/taskboard_taskboard_live_db?schema=public"
PORT="4000"
JWT_SECRET=""
JWT_EXPIRES_IN="1d"
